<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rosgvardia.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rosgvardia</name>
    <description>
        Росгвардия — мои горизонты
    </description>
    <author email="vstarkov515@gmail.com" href="#">
        Владимир Старков
    </author>

    <content src="index.html" />

    <!-- Разрешения для навигации и интентов -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />

    <!-- Настройки Cordova / WebView -->
    <preference name="scheme" value="http" />
    <preference name="hostname" value="192.168.0.104" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- iOS App Transport Security: разрешить HTTP для локальной сети -->
    <edit-config file="*-Info.plist" mode="merge" target="NSAppTransportSecurity">
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
            <key>NSAllowsLocalNetworking</key>
            <true/>
        </dict>
    </edit-config>

    <!-- iOS: разрешить открывать http-ссылки в системном браузере -->
    <edit-config file="*-Info.plist" mode="merge" target="LSApplicationQueriesSchemes">
        <array>
            <string>http</string>
            <string>https</string>
        </array>
    </edit-config>
</widget>